.register {
    height: 100svh;
    background-color: rgb(193, 190, 255);
    display: flex;

    .card {
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;
        margin-left: 20vw;
        margin-top: 10svh;
    }
}
