@import "../../themes.scss";
.home {
    padding-left: 16vw;
    padding-right: 26vw;
    padding-bottom: 4svh;
    margin-top: 3svh;

    @include tablet {
        padding-right: 3vw;
        padding-left: 21vw;
    }

    @include mobile {
        padding-left: 170px;
        padding-right: 3vw;
    }

    @include themify($themes) {
        background-color: themed(bgSoft);
    }
}
