@import "../../themes.scss";

.post {
    @include themify($themes) {
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        width: 55svw;

        .container {
            padding: 20px;

            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .userInfo {
                    display: flex;
                    gap: 20px;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details {
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-weight: 600;
                        }

                        .date {
                            font-size: 12px;
                        }
                    }
                }
            }

            .content {
                margin: 20px 0px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    margin-top: 20px;
                    border-radius: 10px;
                }

                .filler {
                    width: 100%;
                    height: 1px;
                    margin-top: 0;
                }
            }

            .info {
                display: flex;
                align-items: center;
                gap: 20px;

                .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    font-size: 14px;
                }

                .heart {
                    color: #e74c3c;

                    span {
                        color: themed("textColor");
                    }
                }
            }
        }
    }
}
